@font-face {
  font-family: 'Archivo';
  src: url("../assets/fonts/Archivo.ttf");
}

$cl-triada-2: #F664B4;
$cl-texto: rgba(82, 82, 82, 0.8);
$cl-texto-2: #525252;
$bg-compl: #F6A664;
$archivo: 'Archivo';
